@model CoreBusiness.Category
@{
    ViewData["Title"] = "Add Category";
}

<div class="mt-5">
    <form method="post">
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label" asp-for="Name"></label>
            </div>
            <div class="col-6">
                <input class="form-control" type="text" asp-for="Name" />
                <span class="text-danger" asp-validation-for="Name"></span>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <label class="col-form-label" asp-for="Description"></label>
            </div>
            <div class="col-6">
                <textarea class="form-control" type="text" asp-for="Description" rows="7"></textarea>
            </div>
        </div>
        <div class="row mb-3">
            <div class="col-2">
                <input class="btn btn-primary" type="submit" value="Add">
            </div>
        </div>
    </form>
</div>