@{
    @model ProductViewModel
    ViewData["Title"] = "Edit Product";
}

<div class="text-center">
    <h1 class="display-4">@ViewData["Title"]</h1>
    @if (Model.Product != null)
    {
        <div class="mt-5">
            <form method="post">
                <input type="hidden" asp-for="Product.Id">
                <div class="row mb-3">
                    <div class="col-2">
                        <label class="col-form-label" asp-for="Product.CategoryId"></label>
                    </div>
                    <div class="col-6">
                        <select class="form-control" asp-for="Product.CategoryId">
                            <option>- Select Category -</option>
                            @if (Model.Categories != null)
                            {
                                @foreach (var cat in Model.Categories)
                                {
                                    <option value="@cat.Id">@cat.Name</option>
                                }
                            }
                        </select>
                        <span class="text-danger" asp-validation-for="Product.CategoryId"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label class="col-form-label" asp-for="Product.Name"></label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="text" asp-for="Product.Name" />
                        <span class="text-danger" asp-validation-for="Product.Name"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label class="col-form-label" asp-for="Product.Price"></label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="number" min="0" step="any" asp-for="Product.Price" />
                        <span class="text-danger" asp-validation-for="Product.Price"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <label class="col-form-label" asp-for="Product.Quantity"></label>
                    </div>
                    <div class="col-6">
                        <input class="form-control" type="number" min="1" asp-for=" Product.Quantity" />
                        <span class="text-danger" asp-validation-for="Product.Quantity"></span>
                    </div>
                </div>
                <div class="row mb-3">
                    <div class="col-2">
                        <input class="btn btn-primary" type="submit" value="Save">
                    </div>
                </div>
            </form>
        </div>
    }
    else
    {
        <div class="mt-5">
            <h2>No Item with this ID exists.</h2>
        </div>
    }
</div>