@model SalesViewModel
@{
    ViewData["Title"] = "Cashier's Console";
}

<div class="row">
    <div class="col-7">
        <h3>Cashier's Console</h3>
    </div>
    <div class="col-2">
        <label for="cashier">Cashier's Name: </label>
    </div>
    <div class="col">
        @* Name *@
    </div>
</div>

<hr />

<div class="row">
    <div class="col-4">
        <select class="form-control mt-5" asp-for="SelectedCategoryId">
            <option>- Select Category -</option>
            @foreach (var cat in @Model.Categories)
            {
                <option value="@cat.Id">@cat.Name</option>
            }
        </select>
        <div id="productsContainer" class="mt-5">
            @* * Partial View of Products *@
        </div>

        <br />

        <div id="productDetail" class="mt-5">
            @* * Partial View of Product Details *@
        </div>

        <br />

        <form id="formSale" method="post" asp-controller="sales" asp-action="sell">
            <input type="hidden" asp-form="SelectedProductId" />
            <div class="form-group">
                <label asp-for="SellQuantity"></label>
                <input class="form-control" type="number" asp-for="SellQuantity" min="1" />
            </div>
            <br />
            <div class="form-group">
                <input class="btn btn-primary" type="submit" value="submit" />
            </div>
        </form>
    </div>
    <div class="col">
        @* trans record *@
    </div>
</div>

@section Scripts
{
    <script>

        // Handle Category selection
        $(function () {

            $("#formSale").hide();

            $("#SelectedCategoryId").on("change", function () {
                $("#productsContainer").load("/products/ProductsByCategoryPartial", { categoryId: $(this).val() });
                $("#productDetail").html("");
                $("#formSale").hide();
            });

            $("#productsContainer").on("click", ".product-row", function () {
                $(".product-row").removeClass("highlight");
                $(this).addClass('highlight');

                var productId = $(this).attr("product-id");

                $("#productDetail").load("/sales/SalesProductPartial", { productId: productId });

                if (productId > 0) {
                    $("#SelectedProductId").val(productId);
                    $("#formSale").show();
                }
                else {
                    $("#formSale").hide();
                }
            });
        });
    </script>
}